menu "Lua RTOS"
	choice LUA_RTOS_BOARD_TYPE
		prompt "Board Type"
		default LUA_RTOS_BOARD_WHITECAT_N1ESP32
	
		config LUA_RTOS_BOARD_WHITECAT_N1ESP32
			bool "WHITECAT ESP32 N1"
			select LUA_RTOS_USE_POWER_BUS if LUA_RTOS_BOARD_WHITECAT_N1ESP32
		
		config LUA_RTOS_BOARD_ESP32_CORE_BOARD
			bool "ESP32 CORE BOARD"

		config LUA_RTOS_BOARD_ESP32_THING
			bool "ESP32 THING"

		config LUA_RTOS_BOARD_OTHER
			bool "GENERIC"
	endchoice
  menu "General"
	menu "Deep Sleep"
		config LUA_RTOS_DEEP_SLEEP_RTC_PERIPH
		  	bool "Mantain power for RTC IO, sensors and ULP co-processor by default"
  			default n

		config LUA_RTOS_DEEP_SLEEP_RTC_SLOW_MEM
	  		bool "Mantain power for RTC slow memory by default"
  			default y

		config LUA_RTOS_DEEP_SLEEP_RTC_FAST_MEM
	  		bool "Mantain power for RTC fast memory by default"
  			default n
	endmenu
	
	config LUA_RTOS_READ_FLASH_UNIQUE_ID
	  	bool "Read SPI flash EUI"
		default n
			help
				Lua RTOS can get a EUI from the SPI Flash Memory. This is a 8-byte length identifier that can
				be used for indentify your board. In the WHITECAT ESP32 N1 board this EUI is used in the LoRa WAN
				stack to set the DevEUI.

    config LUA_RTOS_USE_POWER_BUS
  		bool "Use power bus"
  		default n
    	help
			Power bus allows to provide power to sensors connected to the bus. This is useful in IOT deployments to
			ensure that the sensors do not consume energy while the CPU is sleeping.

	config LUA_RTOS_POWER_BUS_PIN
    	int "Power bus GPIO number"
    	depends on LUA_RTOS_USE_POWER_BUS
    	range 0 39
    	default 27
		
  	config LUA_RTOS_USE_LED_ACT
	  	bool "Use activity led"
  		default n
    	help 
			Select this to enable the Lua RTOS activity led.

	config LUA_RTOS_LED_ACT
		depends on LUA_RTOS_USE_LED_ACT
    	int "Activity led GPIO number"
    	range 0 39
    	default 22
  endmenu
  menu "Console"
  	config LUA_RTOS_USE_CONSOLE
	  	bool "Use console"
	  	default y
	    help 
			Select this to enable the Lua RTOS console.

	choice LUA_RTOS_CONSOLE_UART
		depends on LUA_RTOS_USE_CONSOLE
		prompt "UART"
		default LUA_RTOS_CONSOLE_UART0
		help
			Select the uart number used by the Lua RTOS console.

	config LUA_RTOS_CONSOLE_UART0
		bool "UART 0"
		
	config LUA_RTOS_CONSOLE_UART1
		bool "UART 1"

	config LUA_RTOS_CONSOLE_UART2
		bool "UART 2"

	endchoice
	
	choice LUA_RTOS_CONSOLE_BR
		depends on LUA_RTOS_USE_CONSOLE
		prompt "Baud rate"
		default LUA_RTOS_CONSOLE_BR_115200
		help
			Baud rate to use by the Lua RTOS console.

	config LUA_RTOS_CONSOLE_BR_57200
		bool "57200 baud"

	config LUA_RTOS_CONSOLE_BR_115200
		bool "115200 baud"
	endchoice

	config LUA_RTOS_CONSOLE_BUFFER_LEN
		depends on LUA_RTOS_USE_CONSOLE
	    int "Buffer length"
	    range 32 2048
	    default 1024
	    help
	        Select the the buffer length used by the console, in bytes,    		
  endmenu
  menu "File Systems"
  menu "SPIFFS"
  		config LUA_RTOS_USE_SPIFFS
		  	bool "Use spiffs"
		  	default y
		  	help
		  		Select for enable SPIFFS file system support. SPIFFS uses the ESP32 board flash memory.

		config LUA_RTOS_SPIFFS_LOG_BLOCK_SIZE
			depends on LUA_RTOS_USE_SPIFFS
		    int "Logical block size"
		    range 4098 65536
		    default 8192

		config LUA_RTOS_SPIFFS_BASE_ADDR
			depends on LUA_RTOS_USE_SPIFFS
		    hex "Base address"
		    range 100000 1FFE000
		    default 180000

		config LUA_RTOS_SPIFFS_SIZE
			depends on LUA_RTOS_USE_SPIFFS
		    int "Size"
		    range 262144 1048576
		    default 524288
  endmenu
  menu "FAT"
  		config LUA_RTOS_USE_FAT
		  	bool "Use FAT"
		  	default n
		  	help
		  		Select for enable FAT file system support. Enabling this implies that you have an SD Card
		  		appropriately connected to your ESP32 board.

		config LUA_RTOS_SD_SPI
			depends on LUA_RTOS_USE_FAT
		    int "SDCARD SPI port"
		    range 1 3
		    default 2
			help
				Select the SPI port number where SD Card is attached
	
		config LUA_RTOS_SD_CS
			depends on LUA_RTOS_USE_FAT
		    int "SDCARD SPI CS GPIO number"
		    range 0 39
		    default 15
  endmenu
  endmenu
  
  menu "LoRa Wan"
	config LUA_RTOS_USE_LMIC
	  	bool "Use LIMC stack"
  		default n

	config LUA_RTOS_LORAWAN_LMIC_DEBUG
  		bool "Enable machine-state debug"
  		default n

	config LUA_RTOS_LORAWAN_LMIC_STACK_SIZE
		int "LIMC stack size"
		range 1024 4096
		default 1024
		help
			Default stack size assigned to tLMIC.

	config LUA_RTOS_LORAWAN_LMIC_TASK_PRIORITY
		int "LMIC task priority"
		range 3 25
		default 12
		help
			Task priority assigned to LMIC.
		
	config LUA_RTOS_LORAWAN_LMIC_TASK_CPU
		depends on !FREERTOS_UNICORE
		int "LMIC task CPU affinity"
		range 0 1
		default 1
		help
			CPU affinity for LMIC.

	choice LUA_RTOS_LORAWAN_BAND
		depends on LUA_RTOS_USE_LMIC
		prompt "ISM band"
		default LUA_RTOS_LORAWAN_BAND_EU868
		help
			Select the ISM band to use. Please, select band allowed for your regions according to ISM regulations.

	config LUA_RTOS_LORAWAN_BAND_EU868
		bool "Europe - 868 Mhz"

	config LUA_RTOS_LORAWAN_BAND_US915
		bool "United States - 915 Mhz"
	endchoice
	
	choice LUA_RTOS_LORAWAN_RADIO
		depends on LUA_RTOS_USE_LMIC
		prompt "PHY Type"
		default LUA_RTOS_LORAWAN_RADIO_SX1276
		help
			Select the phy radio type

	config LUA_RTOS_LORAWAN_RADIO_SX1276
		bool "sx1276"

	config LUA_RTOS_LORAWAN_RADIO_SX1272
		bool "sx1272"
	endchoice

	config LUA_RTOS_LMIC_SPI
		depends on LUA_RTOS_USE_LMIC
    	int "PHY SPI port"
    	range 2 3
    	default 3
		help
			Select the SPI port number where phy is attached

	config LUA_RTOS_LMIC_CS
		depends on LUA_RTOS_USE_LMIC
    	int "PHY SPI CS GPIO number"
    		range 0 39
    		default 5

	config LUA_RTOS_LMIC_RST
		depends on LUA_RTOS_USE_LMIC
    	int "PHY RST GPIO number"
	    range 0 39
    	default 0 if LUA_RTOS_BOARD_WHITECAT_N1ESP32
    	default 27 if !LUA_RTOS_BOARD_WHITECAT_N1ESP32

	config LUA_RTOS_LMIC_DIO0
		depends on LUA_RTOS_USE_LMIC
    	int "PHY DIO0 GPIO number"
    	range 0 39
    	default 4 if LUA_RTOS_BOARD_WHITECAT_N1ESP32
    	default 26 if !LUA_RTOS_BOARD_WHITECAT_N1ESP32

	config LUA_RTOS_LMIC_DIO1
		depends on LUA_RTOS_USE_LMIC
    	int "PHY DIO1 GPIO number"
    	range 0 39
    	default 16 if LUA_RTOS_BOARD_WHITECAT_N1ESP32
    	default 25 if !LUA_RTOS_BOARD_WHITECAT_N1ESP32

	config LUA_RTOS_LMIC_DIO2
		depends on LUA_RTOS_USE_LMIC
    	int "PHY DIO2 GPIO number"
    	range 0 39
    	default 17 if LUA_RTOS_BOARD_WHITECAT_N1ESP32
    	default 33 if !LUA_RTOS_BOARD_WHITECAT_N1ESP32
 endmenu

  menu "HTTP server"
	config LUA_RTOS_USE_HTTP_SERVER
		depends on (WIFI_ENABLED || ETHERNET) && LUA_RTOS_LUA_USE_NET
	  	bool "Enable HTTP server"
	  	default y
  endmenu
    
  menu "Lua"
	  menu "Tunning"
		config LUA_RTOS_LUA_STACK_SIZE
			int "Lua interpreter stack size"
			range 1024 40960
			default 20480
			help
				Default stack size assigned to the Lua interpreter.

		config LUA_RTOS_LUA_TASK_PRIORITY
			int "Lua interpreter task priority"
			range 3 25
			default 3
			help
				Task priority assigned to the Lua interpreter. Lua RTOS has a thread-oriented programming model and
				basically the Lua interpreter is used only for launch new threads and configure the system, so
				it's not necessary to assing a high piority to the interpreter.
			
		config LUA_RTOS_LUA_TASK_CPU
			depends on !FREERTOS_UNICORE
			int "Lua interpreter task CPU affinity"
			range 0 1
			default 0
			help
				CPU affinity for the task assigned to the Lua interpreter.
				
		config LUA_RTOS_LUA_THREAD_STACK_SIZE
			int "Default Lua thread stack size"
			range 1024 40960
			default 10240
			help
				Default Stack size assigned to Lua threads.

		config LUA_RTOS_LUA_THREAD_PRIORITY
			int "Default Lua thread priority"
			range 3 25
			default 20
			help
				Default priority assigned to Lua threads.
			
		config LUA_RTOS_LUA_THREAD_CPU
			depends on !FREERTOS_UNICORE
			int "Default Lua thread CPU affinity"
			range 0 1
			default 1
			help
				Default CPU affinity for Lua threads.
	  endmenu
	  
	  menu "Lua Modules"
	  	config LUA_RTOS_LUA_USE__G
		  	bool "Include base module in build"
		  	default y

	  	config LUA_RTOS_LUA_USE_OS
		  	bool "Include os module in build"
		  	default y

	  	config LUA_RTOS_LUA_USE_MATH
		  	bool "Include math module in build"
		  	default y

	  	config LUA_RTOS_LUA_USE_TABLE
		  	bool "Include table module in build"
		  	default y

	  	config LUA_RTOS_LUA_USE_IO
		  	bool "Include io module in build"
		  	default y

	  	config LUA_RTOS_LUA_USE_STRING
		  	bool "Include string module in build"
		  	default y

	  	config LUA_RTOS_LUA_USE_COROUTINE
		  	bool "Include coroutine module in build"
		  	default y

	  	config LUA_RTOS_LUA_USE_DEBUG
		  	bool "Include debug module in build"
		  	default y

	  	config LUA_RTOS_LUA_USE_UTF8
		  	bool "Include utf8 module in build"
		  	default y

	  	config LUA_RTOS_LUA_USE_PACKAGE
		  	bool "Include package module in build"
		  	default y
	  endmenu
	  menu "Lua RTOS Modules"
	  	config LUA_RTOS_LUA_USE_THREAD
		  	bool "Include thread module in build"
		  	default y

	  	config LUA_RTOS_LUA_USE_NVS
		  	bool "Include nvs module in build"
		  	default y

	  	config LUA_RTOS_LUA_USE_PACK
		  	bool "Include pack module in build"
		  	default y

		menu "Hardware Access Modules"
		  	config LUA_RTOS_LUA_USE_ADC
			  	bool "Include adc module in build"
			  	default y	
		
		  	config LUA_RTOS_LUA_USE_I2C
			  	bool "Include i2c module in build"
			  	default y
	
		  	config LUA_RTOS_LUA_USE_PIO
			  	bool "Include pio (gpio) module in build"
			  	default y

		  	config LUA_RTOS_LUA_USE_PWM
			  	bool "Include pwm module in build"
			  	default y

		  	config LUA_RTOS_LUA_USE_SCREEN
			  	bool "Include screen module in build"
			  	default n

		  	config LUA_RTOS_LUA_USE_SPI
			  	bool "Include spi module in build"
			  	default y
	
		  	config LUA_RTOS_LUA_USE_TMR
			  	bool "Include tmr (timer) module in build"
			  	default y

		  	config LUA_RTOS_LUA_USE_UART
			  	bool "Include uart module in build"
			  	default y
		endmenu
		menu "Communication Modules"
		  	config LUA_RTOS_LUA_USE_NET
			  	depends on WIFI_ENABLED || ETHERNET
			  	bool "Include net module in build"
			  	default y

		  	config LUA_RTOS_LUA_USE_LORA
			  	depends on LUA_RTOS_USE_LMIC
			  	bool "Include lora module in build"
			  	default n

		  	config LUA_RTOS_LUA_USE_MQTT
			  	depends on WIFI_ENABLED || ETHERNET
			  	bool "Include MQTT module in build"
			  	default n
		endmenu
	  endmenu
  endmenu
endmenu
